src/
test/
specs/
library/
examples/
reports/
docs/
scripts/
*.test.*
*.spec.*
*.md
!.npmignore
!.gitignore
!.env*
!.DS_Store
dist/*.map
node_modules/
package-lock.json
vite.config.ts
vitest.config.ts
tsconfig.json
tsconfig.node.json
.eslintrc*
eslint.config.js 